<!doctype html>
<title>Coop Garden</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Coop Garden</h1>
</nav>
<section class="content">
<h2>These are the buttons you can press:</h2>
{% for x in buttons %}
<button>{{ x }}</button><br />
{% endfor %}
</section>